/* header s */
.header{
    position: fixed;
    height: 65px;
    top: 0;
    background: #c7c5c5;
    width: 100%;
    z-index: 1;
    transition: 0.5s linear;
    opacity: 0.8;
    padding-bottom: 5px;
}

.header:hover{
	opacity: 1;
	transition: 1s linear;
}

.header_left{
	float: left;
	margin-left: 30px;
}

.header_left li{
	display: inline-block;
}

.header_left li:first-child{
	width: 65px;
	height: 65px;
	overflow: hidden;
	border-radius: 32px;
	margin-top: 2px;
	transition: 0.2s linear;
	float: left;
}

.header_left li:first-child:hover{
	transition: 0.3s linear;
}

.header_left li:first-child img{
	width: 100%;
	height: 100%;
}

.header_left li:last-child{
    float: left;
    margin: -2px 0 0 15px;
}

.header_left li:last-child dd{
    font-size: 1.5rem;
    color: #333;
    text-align: center;
    padding: 8px;
}

.header_left li:last-child dd:first-child{
	border-bottom: solid 1px #333;
}

.nav{
    float: right;
    margin: 25px 45px 0 0;
}

nav li{
	display: inline-block;
}

nav li a{
    margin: 0 12px;
    transition: 0.2s linear;
    padding-bottom: 26px;
    font-size: 1.3rem;
}

nav li a:hover{
	color: #35290d;
	transition: 0.3s linear;
	border-bottom: solid 1px #1FAEFF;
}
/* header e */

/* #dowebok s */
/* #dowebok public s */
.section {
	text-align: center; 
	font: 50px "Microsoft Yahei"; color: #fff;
	background: url(../images/bg.jpg) no-repeat center top;
	background-size: 100%;
}

/* #fp-nav s */
#fp-nav ul li, .fp-slidesNav ul li{
    margin-bottom: 16px;
}

#fp-nav ul li .fp-tooltip{
	color: #333;
	font-size: 1.2rem;
	font-family: "Microsoft YaHei"; 
}

#fp-nav ul li a span, .fp-slidesNav ul li a span{
	width: 6px;
	height: 6px;
}

#fp-nav ul li .fp-tooltip.right{
    right: 14px;
    padding-right: 6px;
}
/* #fp-nav e */
/* #dowebok public e */

/* #dowebok section1 s */
.section1 p { position: relative; left: -120%;}
/* #dowebok section1 e */

/* #dowebok section2 s */
.section2 p { position: relative; left: -120%;}
/* #dowebok section2 e */

/* #dowebok section3 s */
.section3 p { position: relative; bottom: -120%;}
/* #dowebok section3 e */

/* #dowebok section4 s */
.section4 p { display: none;}
/* #dowebok section4 e */

/* #dowebok section5 s */
.section5 p { position: relative; bottom: -120%;}
/* #dowebok section5 e */

/* #dowebok section6 s */
.section6 p { position: relative; left: -120%;}
/* #dowebok section6 e */
/* #dowebok e */