/* header s */
.header{
    position: fixed;
    height: 65px;
    top: 0;
    background: #c7c5c5;
    width: 100%;
    z-index: 1;
    transition: 0.5s linear;
    opacity: 0.6;
}

.header:hover{
	opacity: 1;
	transition: 1s linear;
}

.header_pic{
	float: left;
}

.nav{
	float: right;
}

nav li{
	display: inline-block;
}
/* header e */

/* #dowebok s */
/* #dowebok public s */
.section {
	text-align: center; 
	font: 50px "Microsoft Yahei"; color: #fff;
	background: url(../images/bg.jpg) no-repeat center top;
	background-size: 100%;
}

/* #fp-nav s */
#fp-nav ul li, .fp-slidesNav ul li{
    margin-bottom: 16px;
}

#fp-nav ul li .fp-tooltip{
	color: #333;
	font-size: 1.2rem;
	font-family: "Microsoft YaHei"; 
}

#fp-nav ul li a span, .fp-slidesNav ul li a span{
	width: 6px;
	height: 6px;
}

#fp-nav ul li .fp-tooltip.right{
    right: 14px;
    padding-right: 6px;
}
/* #fp-nav e */
/* #dowebok public e */

/* #dowebok section1 s */
.section1 p { position: relative; left: -120%;}
/* #dowebok section1 e */

/* #dowebok section2 s */
.section2 p { position: relative; left: -120%;}
/* #dowebok section2 e */

/* #dowebok section3 s */
.section3 p { position: relative; bottom: -120%;}
/* #dowebok section3 e */

/* #dowebok section4 s */
.section4 p { display: none;}
/* #dowebok section4 e */

/* #dowebok section5 s */
.section5 p { position: relative; bottom: -120%;}
/* #dowebok section5 e */

/* #dowebok section6 s */
.section6 p { position: relative; left: -120%;}
/* #dowebok section6 e */
/* #dowebok e */