@charset "utf-8";
/* CSS Document */
/******************************** layout css begin ************************************/
.section{
    width: 100vw;
    height: 100vh;
	font-size:1.2em;
	position:relative;
}

h1{
    margin: 0px;
	
}

.box_wrapper{
	position:relative;
	width: 100%;
	height:100%;	
}
/******************************** layout css end ************************************/

/******************************** test css begin ************************************/

/******************************** test css end ************************************/

/************************** 1 slide css begin **************************/
.a{
	background: #F60;	
	font-size:1em;	
}

.a_box_wrap {
    width: 100%;
    height: 100%;
	overflow:hidden;
}

.a_box_wrap img{
	width: 100%;
    height: 100%;
}

/*************************** 1 slide css end ***************************/

/************************** 2 slide css begin **************************/
.b{
	background: #F00;
	font-size:1em;		
	z-index: 2;
}
/*************************** 2 slide css end ***************************/

/************************** 3 slide css begin **************************/
.c{
	background: #Ff0;	
	font-size:1em;	
	z-index: 2;
}
/*************************** 3 slide css end ***************************/

/************************** 4 slide css begin **************************/
.d{
	background: #000;	
	font-size:1em;	
	z-index: 2;
}
/************************** 4 slide css begin **************************/

/************************** 5 slide css begin **************************/
.e{
	background: #43D5EC;	
	font-size:1em;	
	z-index: 2;
}
/************************** 5 slide css begin **************************/

/************************** 5 slide css begin **************************/
.f{
	background: #9aa9A7;
	font-size:1em;	
	z-index: 2;
}
/************************** 5 slide css begin **************************/

/************************** 5 slide css begin **************************/
.g{
	background: #9dd9A7;
	font-size:1em;	
	z-index:100;
}
/************************** 5 slide css begin **************************/

/************************** footer css begin **************************/

/*************************** footer css end ***************************/


@media only screen and (min-width: 320px) and (max-width:568px) {

}

@media only screen and (min-width: 375px) and (max-width:667px) {

}

@media only screen and (min-width: 414px) and (max-width:736px) {

}



/******************************** function css begin ************************************/
/**************** 箭头悬浮 ***************/
.footer_img {
    position: fixed;
	cursor:pointer;
    bottom: 8%;
    left: 45%;
	text-align: center;
  	z-index: 99;
	animation-name: arrowing;
	animation-duration: 1.5s;
	animation-iteration-count: infinite;
	-webkit-animation-name: arrowing;
	-webkit-animation-duration: 1.5s;
	-webkit-animation-iteration-count: infinite;		
}

@keyframes arrowing {
    0% {
        transform: translateY(-5px);
        opacity: .8;
    }

    50% {
        transform: translateY(10px);
        opacity: 1;
    }

    to {
        transform: translateY(-5px);
    }
}

.footer_img img{
	width:40px;	
}
/**************** 箭头悬浮 ***************/
/******************************** function css end ************************************/

