/*==== layout css s ====*/
@font-face {
	font-family: 'Pacifico';
	font-style: normal;
	font-weight: 400;
	src: local('Pacifico Regular'), local('Pacifico-Regular'), url("../fonts/pacifico.woff") format('woff');
}

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td { 
	margin:0; padding:0; 
}

html, body {
	margin: 0; 
	padding: 0;
}

html {
	font-size: 62.5%;/*10 ÷ 16 × 100% = 62.5%*/
}

::selection {
	background-color: #35405f;
	color: #fff;
}

*, *:active, *:focus, *:hover {
	outline: none;
}

h1, h2, h3, h4, h5,h6 {
	margin-top: 0;
}

body {
	font: 15px/23px "Lucida Sans","Liberation Sans","Lucida Sans Unicode","Lucida Grande",Verdana,Arial,Helvetica,sans-serif;
	font-size: 1.2rem;/*1.2 × 10px = 12x */
}

img{
	width: 100%;
	height: 100%;
}